.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.section {
  flex: 1;
}

.footer {
  padding: 2rem 1.5rem 2rem;
}

input[type='range'].slider:not([orient='vertical']).has-output {
  width: calc(100% - (6.2rem)) !important;
}

input[type='range'].slider:not([orient='vertical']).has-output + output,
input[type='range'].slider:not([orient='vertical']).has-output-tooltip
  + output {
  width: 5rem !important;
}

.progress.upload {
  margin: auto 10px;
}

textarea,
input[type='text'],
input[type='email'] {
  background-color: rgb(24, 26, 27) !important;
  border-color: rgb(109, 102, 90);
  color: rgb(204, 199, 192) !important;
  box-shadow: rgba(8, 8, 8, 0.05) 0px 0.0625em 0.125em inset !important;
}

textarea::placeholder,
input[type='text']::placeholder,
input[type='email']::placeholder,
::placeholder {
  color: rgba(204, 199, 192, 0.3) !important;
}

* {
  scrollbar-color: #454a4d #202324;
}
